:root {
    --color-main: #22c55e;
    --color-main-light: #25d766;
    --color-light: #f8fffa;
    --color-complement: #C52289;
    --color-background: #e3ece5;
    --color-background-shadow: #b7c0ba;
    --color-link: #2b77c3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body,
h1, h2, h3, h4, h5, h6, p,
ul, ol, li {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--color-link);
}

.site-container {
    display: grid;
    grid-template-columns: clamp(225px, 25%, 300px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:  
        'sidebar header'
        'sidebar main-content' ;
    min-height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--color-main);
    color: var(--color-light);
    padding: 1.5rem;
    font-weight: 600;
    z-index: 2; /* To make sidebar be above header and hide the shadows underneath */
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.sidebar ul {
    margin-bottom: 3rem;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a:hover {
    color: #c7ead3;
}

.svg-icon {
    display: inline-block;
    vertical-align: bottom;
    fill: currentColor;
    height: 1.25rem;
}

.sidebar li .svg-icon {
    margin-right: 1rem;
}

.sidebar h1 > .svg-icon {
    height: 2.1rem;
    position: relative;
    top: 0.15rem;
    right: 0.4rem;
}

.header {
    grid-area: header;
    background-color: var(--color-light);
    display: grid;
    gap: 1rem;    
    padding: 1.5rem calc(0.5rem + 2vw) 1rem 2rem;
    z-index: 1; /* To make header be under sidebar and hide the shadows underneath */
    box-shadow: 0px 3px 3px var(--color-background-shadow);
}

.header-top {
    display: grid;
    grid-template-columns: 1fr auto;
}

.header-top-left {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 2rem;
    align-items: center;
    margin-right: 2rem;
}

.header-top-left .search-box {
    background-color: var(--color-background);
    height: 1.5rem;
    width: 100%;
    max-width: 600px;
    border: none;
    border-radius: 0.75rem;
    box-shadow: inset 1px 1px 1px var(--color-background-shadow);
    padding: 0 1rem;
}

.header-top-right {
    display: grid;
    grid-template-columns: 2rem 2rem auto;
    grid-template-rows: 2rem;
    gap: 0.75rem;
    justify-content: end;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.user-profile-picture,
.trend-profile-picture {
    place-self: stretch;
    border-radius: 50%;
    background-color: var(--color-background);
    background-size: cover;
    background-position: center;
}

.notification {
    display: grid;
    justify-items: center;
    align-items: center;
}

.user-profile-picture {
    background-image: url(images/userpp000.jpeg);
}

.user-profile-picture:hover ~ p {
    color: var(--color-link);
}

#trend-profile-picture-1 {
    background-image: url(images/userpp001.jpeg);
}

#trend-profile-picture-2 {
    background-image: url(images/userpp002.jpeg);
}

#trend-profile-picture-3 {
    background-image: url(images/userpp003.jpeg);
}

#trend-profile-picture-4 {
    background-image: url(images/userpp004.jpeg);
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: end;
    gap: 1rem;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: 3.5rem auto;
    grid-template-rows: 3.5rem;
    column-gap: 0.75rem;
    align-items: center;
    font-weight: 600;
}

.header-bottom-left .user-greetings {
    font-size: 0.65rem;
    margin-bottom: 0.2rem;
}

.header-bottom-left .user-name {
    font-size: 1.1rem;
}

.header-bottom-right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 1rem;
}

.header-button {
    background-color: var(--color-main);
    color: var(--color-light);
    font-weight: 700;
    height: 2rem;
    width: 5rem;
    border: none;
    border-radius: 1rem;
}

.header-button:hover {
    background-color: var(--color-main-light);
}

.header-button:active {
    background-color: var(--color-main);
}

.main-content {
    grid-area: main-content;
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 5fr minmax(250px, 1fr);
    grid-template-areas: 
        'projects aside';
    gap: 1rem;
    padding: 2rem 1rem;
}

.main-content-header {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.projects {
    grid-area: projects;
}

.projects > .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-auto-rows: minmax(150px, min-content);
    gap: 1.5rem;
}

.project-card,
.announcements-card,
.trending-card {
    background-color: var(--color-light);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px var(--color-background-shadow);
    padding: 1.5rem 1rem 1rem 1rem;
}

.project-card {
    display: grid;
    border-left: 0.5rem solid var(--color-complement);
    transition: 0.1s;
}

.project-card > h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.project-card > p {
    font-size: 0.8rem;
    color: grey;
}

.project-card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 0 1px var(--color-complement), 
                3px 3px 3px var(--color-background-shadow);
}

.card-buttons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 2rem);
    grid-template-rows: 2rem;
    gap: 1rem;
    padding-top: 1rem;
}

.card-buttons button {
    background: none;
    border: none;
}

.main-content > aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.announcement {
    padding: 1rem 0.25rem;
    border-bottom: 1px solid lightgrey;
    transition: 0.1s;
}

.announcement:first-child {
    padding-top: 0;
}

.announcement:last-child {
    padding-bottom: 0;
    border: none;
}

.announcement h4 {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

.announcement p {
    font-size: 0.7rem;
    color: grey;
}

.announcement:hover {
    color: var(--color-link)
}

/* Add a content before on absolute position to contain */
/* the whole card and spread the href */

.announcement .container {
    position: relative;
}

.announcement a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trending-card {
    display: grid;
    gap: 1rem;
    justify-content: start; 
}

.trend {
    display: grid;
    grid-template-columns: 2rem auto;
    grid-template-rows: 2rem;
    gap: 0.5rem;
}

.trend-handler-project {
    display: grid;
    align-content: center;
    position: relative;
}

.trend-handler-project a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trend-handler-project > h5 {
    font-size: 0.8rem;
    font-weight: 400;
}

.trend-handler-project > p {
    font-size: 0.7rem;
    color: grey;
}

.trend > .trend-handler-project:hover p,
.trend-profile-picture:hover + .trend-handler-project > h5,
.trend-profile-picture:hover + .trend-handler-project > p {
    color: var(--color-link); 
}

.not-found-container {
    display: grid;
    place-content: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-main);
    color: var(--color-light);
}

.not-found-container h1 {
    font-size: 10rem;
}

.not-found-container h2 {
    font-size: 2rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.not-found-container p {
    font-weight: 500;
    margin-bottom: 5rem;
}

.not-found-container button {
    background-color: var(--color-light);
    color: var(--color-main);
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 3rem;
    padding: .65rem 2.25rem;
}

.not-found-container button:hover {
    background-color: var(--color-background);
    color: var(--color-main-light);
}

.not-found-container button:active {
    background-color: var(--color-light);
    color: var(--color-main);
}